body {
  font-family: "-apple-system", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  background-color: #e4f0ea;
}

/* 投稿画面 */
#console {
  width: 100%; /*固定したい幅の長さ*/
}

/* 一覧画面 */
#grid {
  width: 100%;
}

/* Twitterユーザ名と画像追加と一覧画面表示ボタンのdiv */
#console_header {
  height: 41px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#name_input {
  float: left;
}

#name_text_box {
  width: 131px;
}

@media screen and (min-width: 500px) {
  /* リアクション画像追加TextBox */
  #image_url_text_box {
    float: left;
    margin-left: 8px;
    width: 300px;
    display: inline;
  }

  /* リアクション画像追加ボタン */
  #image_url_add_button {
    float: left;
    margin-left: 8px;
    display: inline;
  }

  /* リアクション画像削除ボタン */
  #image_url_delete_button {
    float: left;
    margin-left: 8px;
    display: inline;
  }
}

@media screen and (max-width: 600px) {
  /* リアクション画像追加TextBox */
  #image_url_text_box {
    float: left;
    margin-left: 8px;
    width: 340px;
    display: none;
  }

  /* リアクション画像追加ボタン */
  #image_url_add_button {
    float: left;
    margin-left: 8px;
    display: none;
  }

  /* リアクション画像削除ボタン */
  #image_url_delete_button {
    float: left;
    margin-left: 8px;
    display: none;
  }
}

/* 投稿画面と一覧画面の切り替えボタン */
#grid_switch_button {
  float: right;
  margin-left: 8px;
  margin-right: 8px;
}

/* 投稿画面のヘッダーを除いた部分 */

/* リアクション画像一覧 */
#stamp_grid_view {
  margin-top: 8px;
  width: 100%;
}

/* 現在表示してるリアクションとスタンプ一覧を囲むdiv */
#console_reaction {
  margin-top: 8px;
  margin-left: 8px;
}

/* 現在表示してるリアクションのdiv */
#console_reaction_view {
  position: relative;
  float: left;
  width: 168px;
  height: 168px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #ffffff;
  border: 4px solid #74a78b;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* 現在表示してるリアクション画像 */
#console_reaction_img {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
}

.progress {
  position: absolute;
  bottom: 0;
  margin-bottom: 4px;
  width: 100%;
  visibility: hidden;
}

.progress-bar {
  width: 0;
  visibility: hidden;
}

/* スタンプのcell */
.stamp_cell {
  position: relative;
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  margin-right: 8px;
  margin-bottom: 8px;
  float:left;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.4);
}

.stamp_cell:hover .cell_delete_button {
  display: block;
}


.cell_delete_button {
  position:absolute;
  top:0%;
  right:0%;
  display: none;
}

#copyright {
  clear: left;
  padding-left: 8px;
}

/* 一覧のcell */
.cell {
  float: left;
  box-sizing:border-box;
  position: relative;
}

/* 一覧のcellのBackground */
.cell_background {
  position: absolute;
  background-color: #ffffff;
  border: 4px solid #fff;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.4);
  right: 0;
  left: 0;
  margin: auto;
  float:left;
}

.cell_image {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
}

/* センサの値表示するView */
.sensor_caption {
  position: absolute;
  bottom: 0;
  color: #fff;
  background: rgba(0,0,0,.7);
  width: 100%;
}

/* センサ値 */
.sensor_caption p {
  margin: 0;
  font-size: 200%;
  text-align: center;
}

#grid_header {
  height: 41px;
  width: 100%;
}

#console_switch_button {
  float: right;
  margin: 8px;
}