body {
  font-family: "-apple-system", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  background-color: #e4f0ea;
  display: flex;
  height: 100%;
}

/* 投稿画面 */
#console {
  width: 380px; /*固定したい幅の長さ*/
  height: 100%;
  display: block;
  border-right: solid 1px #888888;
  overflow-y: scroll;
}

/* 一覧画面 */
#grid {
  flex: auto;
  display: block;
}

/* Twitterユーザ名と画像追加と一覧画面表示ボタンのdiv */
#console_header {
  overflow: auto;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#name_input {
  display: block;
}

#name_text_box {
  width: 140px;
}

#linda_status {
  float: right;
  margin-right: 8px;
  font-size: 10px;
}

#add_img_input {
  float: left;
  display: block;
  margin-top: 4px;
}

#image_url_text_box {
  float: left;
  width: 345px;
}

#image_url_add_button {
  float: left;
  margin-left: 8px;
}

/* リアクション画像一覧 */
#stamp_grid_view {
  margin-top: 8px;
  width: 100%;
}

/* 現在表示してるリアクションとスタンプ一覧を囲むdiv */
#console_reaction {
  margin-top: 8px;
  margin-left: 8px;
}

/* 現在表示してるリアクションのdiv */
#console_reaction_view {
  position: relative;
  float: left;
  width: 168px;
  height: 168px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #ffffff;
  border: 4px solid #74a78b;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* 現在表示してるリアクション画像 */
#console_reaction_img {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
}

.progress {
  position: absolute;
  bottom: 0;
  margin-bottom: 4px;
  width: 100%;
  visibility: hidden;
}

.progress-bar {
  width: 0;
  visibility: hidden;
}

/* スタンプのcell */
.stamp_cell {
  position: relative;
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  margin-right: 8px;
  margin-bottom: 8px;
  float:left;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.4);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag:none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cell_delete_button {
  position:absolute;
  top:0%;
  right:0%;
  margin-top: -10px;
  margin-right: -10px;
  display: none;
}

#copyright {
  clear: left;
  padding-left: 8px;
}

/* 一覧のcell */
.cell {
  float: left;
  box-sizing:border-box;
  position: relative;
}

/* 一覧のcellのBackground */
.cell_background {
  position: absolute;
  background-color: #ffffff;
  border: 2px solid #fff;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.4);
  right: 0;
  left: 0;
  margin: auto;
  float:left;
}

.cell_image {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  font-size: 20px;
  color: #888888;
}

.cell_popup {
  width: 100%;
  height: auto;
  position:absolute;
  right: 0%;
  bottom: 0%;
  background: rgba(255, 255, 255, 0.5);
  display: none;
}

.cell_popup_copy_stamp {
  width: auto;
  height: auto;
  display: none;
}

.cell_popup_user_name {
  width: auto;
  height: auto;
  display: none;
}

/* センサの値表示するView */
.sensor_caption {
  position: absolute;
  bottom: 0;
  color: #fff;
  background: rgba(0,0,0,.7);
  width: 100%;
}

/* センサ値 */
.sensor_caption p {
  margin: 0;
  font-size: 200%;
  text-align: center;
}

#grid_header {
  height: 41px;
  width: 100%;
}

#show_console {
  float: left;
  margin-top: 4px;
  width: 28px;
  border-top: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-color: #888888;
}

#reload_button {
  float: right;
  width: 24px;
  height: 24px;
  margin-top: 4px;
  margin-right: 4px;
}

#reload_button:hover {
  background-color: #dddddd;
}

#reload_button:active {
  background-color: #bbbbbb;
}

#reload_caption {
  float: right;
  margin-top: 4px;
  margin-right: 4px;
  font-size: 10px;
  color: #888888;
  display: none;
}